<div class="jumbotron jumbotron-fluid">
    <img class="img-fluid" src="https://i.screenshot.net/4jw66u3.jpg" />
</div>
<main class="container pb-3" role="main">
    <div class="row">
        <div class="col-md-12">
            <div class="container-bg">
                <div class="page-head quot">
                    <h2>About Page</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, placeat corrupti facere
                        ex provident dignissimos exercitationem necessitatibus dolorum ullam perferendis doloribus.
                        Quia, explicabo molestias facilis nulla magni impedit unde quasi.</p>
                </div>
            </div>
        </div>
    </div>
</main>